:root {
  --text-dark: #1c140d;
  --text-light: #efefef;
  --text-secondary: #777777;
  --background: #ececec;
  --item-background: #fafafa;
  --primary: #e56538;
  --primary-hover: #d25d34;
  --secondary: rgba(131, 130, 127, 0.15);
  --secondar-hover: rgba(229, 101, 56, 0.3);
  --accent: #ff6523;
  --danger: #e11414;
}

body {
  font-family: 'Golos Text', sans-serif !important;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--text-dark);
}

p,
h1,
h3,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

strong {
  font-weight: 600;
}

ul {
  padding-left: 20px !important;
  margin: 0 !important;
}

li {
  padding-left: 0 !important;
}

.material-symbols-rounded {
  font-size: 18px;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 20;
}

.material-symbols-rounded.outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' -25, 'opsz' 24;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
